<div class="dashboard-container">
    <h2>Student Dashboard</h2>
    <p>Here you can manage student profiles, grades, and enrollments.</p>

  
    <div class="stats">
      <div class="stat-card">
        <h3>Total Students</h3>
        <p>{{ totalStudents }}</p>


        <!-- <p>{{ totalStudents }}</p> -->
      </div>
  
      <div class="stat-card">
        <h3>New Enrollments</h3>
        <p>{{ newEnrollments }}</p>
        <!-- <p>{{ newEnrollments }}</p> -->
      </div>
  
      <div class="stat-card">
        <h3>Average Grade</h3>
        <!-- <p>{{ avgGrade }}</p> -->
      </div>
    </div>
    <!-- <button (click)="loadStudentData()">Refresh</button> -->
  <button routerLink="/student/enroll" class="enroll">Enroll Student</button>  <!--Updated: Navigation to Enrollment Page -->
  <button (click)="goToStudentsProfile()">Student Profiles</button>
  <button routerLink="/student/grades" class="Grades">Student Grades</button>




  </div>
  